*{
    margin: 0;
    padding: 0; 
}
nav{
    background-color: rgb(64, 14, 64);
    color: white;
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0px;
}
nav ul{
    list-style: none;
    font-family: 'Edu TAS Beginner', cursive;
}
.gamecontainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.imgbox img{
    height: 200px;
    padding: 43px 74px;
    width: 0px;
    transition: width 1s ease-in-out;
} 
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Edu TAS Beginner', cursive;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(184, 170, 197);
    cursor: pointer;
}
.gameInfo{
    padding: 0 30px;
    font-family: 'Edu TAS Beginner', cursive;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0px;
}
.bb-0{
    border-bottom: 0px;
}
#reset{
    margin: 12px 25px;
    padding: 6px 23px;
    background-color: rgb(232, 220, 243);
    font-size: 20px;
    font-family: 'Edu TAS Beginner', cursive;
    border-radius: 8px;
    font-weight: 200;
    cursor: pointer;

}
.info{
    font-size: 24px;
    font-family: 'Mochiy Pop One', sans-serif;
}
.gameInfo h1{
    font-size: 2.5rem;
  }
@media  screen and (max-width: 800px) {
  .gamecontainer{
    flex-wrap: wrap;
  }
  .gameInfo{
    margin-top: 34px;
  }
  .gameInfo h1{
    font-size: 1.5rem;
  }
  .container{
    grid-template-columns: repeat(3,20vw);
    grid-template-rows: repeat(3,20vw);
}
}